.admin-secretary{
    position: fixed;
    top: 60px;
    left: 18%;
    width: 82%;
    height: calc(100vh - 60px);
    max-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f8f9fa;
    color: rgb(0, 0, 0);
    overflow-y: auto;
    z-index: 1;
}