/* تصميم الشريط العلوي */
.right-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
    position: sticky;
    top: 0;
    width: 40%;
    
}

/* قائمة العناصر داخل الشريط */
.nav-ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
}

